@import "./mq.scss";

@mixin container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 5%;
  text-align: center;

  @include sm {
    padding-left: 10%;
    padding-right: 10%;
  }

  @include md {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }

  @include lg {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@mixin title {
  margin: 0 0 0.75rem;
  font-size: 2rem;
}

@mixin subtitle {
  margin: 0 0 5rem;
}
